@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .percentage-bar-component {
        @apply relative
            flex
            h-2
            w-20
            items-center
            rounded-md
            bg-gray-300;
    }

    .percentage-bar-component__bar {
        @apply absolute
            left-0
            z-0
            h-full
            w-full
            rounded-md
            bg-blue-500;
    }
}
