@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button-component {
		@apply rounded-lg
        bg-white 
        py-2
        px-6
        font-medium
        shadow-lg
        transition-all
        hover:ring-4;
	}

    .button-component.disabled {
        @apply opacity-30
            cursor-not-allowed
            hover:ring-0;
    }
}
