@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app__side-menu {
        @apply sticky
            col-span-3
            flex
            h-full
            flex-col
            items-start
            overflow-y-auto;
    }

    .app__side-menu__list {
        @apply flex
            w-full
            list-none;
    }

    .app__side-menu__list__item {
        @apply flex
            grow
            border-l-2
            first:border-l-0;
    }

    .app__side-menu__list__item > a {
        @apply w-full
            items-center
            justify-center
            border-b-4
            border-gray-300
            p-3
            text-center
            text-base
            font-semibold
            text-gray-500
            no-underline;
    }

    .app__side-menu__list__item > a.active {
        @apply border-b-4
            border-primary-accent
            text-primary-text;
    }
}
